
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3b3b33;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav {
    background-color: #f4f4f4;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  nav ul li a:hover {
    background-color: #f70606;
    color: #fff;
  }
  
  main {
    padding: 20px;
  }
  

  